* {
	font-family: sans-serif;
}
input,
button {
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
}
input {
	display: block;
	margin-bottom: 20px;
}
button {
	border: 1px solid gray;
	background: whitesmoke;
	margin-right: 5px;
	cursor: pointer;
}
button:nth-last-child(2),
button:nth-last-child(1) {
	background: tomato;
	color: white;
}
div.App {
	padding: 10px 20px 20px 20px;
}

div.input-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
button:active {
	box-shadow: inset 1px 0px 3px #bcbcbc;
}

button.active {
	background: #4caf50;
	color: white;
}
